*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-color: white;

    padding: 0.3rem;
    margin: 1.3rem;
    border-radius: 0.7rem;
    
}

body{
    background-color: black;
}

.box{
    width: 6rem ;
    height: 6rem ;
    
}


.logo-editar{
    background-image: url("../img/211298f85e3f1d6d9b8453207f2ba0cd.gif") ;
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem;
    margin-left: 60px;
    margin-top: 10px;

    
}

.caja-texto{
    padding: 1.6rem;
    margin: 0.4rem;
    border-radius: 20px;

    border-radius: 0.7;
    background-position: center;
    position: relative;
    left: 72%;
    bottom: 3rem;
    background-color: white;

}