*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
        /* Tamaño letra */
        --letra-grande: 20px;

        /* Colores */
        --background-color: #ffffff;
        --background-color-body: #000000;
        --box-text: #ffffff;
}

.banner {
    background-color: var(--background-color);

    padding: 0.3rem;
    margin: 1.3rem;
    border-radius: 0.7rem;
    
}

body{
    background-color: var(--background-color-body);
}

.box{
    width: 6rem ;
    height: 6rem ;
    
}


.logo-editar{
    background-image: url("../img/211298f85e3f1d6d9b8453207f2ba0cd.gif") ;
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem;
    margin-left: 60px;
    margin-top: 35px;

    
}

.caja-texto{
    font-size: var(--letra-grande);
    padding: 27px;
    margin: 10px;
    border-radius: 20px;
    color: var(--background-color-body);
    text-decoration: none;
    border-radius: 0.7;
    background-position: center;
    position: relative;
    left: 67%;
    bottom: 59px;
    background-color: var(--box-text);

}

.hero-info{
    background-color: #ffffff;
    width: 95%;
    margin: 0 23px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.hero-info a{
    align-items: center;
    display: flex;
}

.hero-info img{
    margin-right: 0;
    max-width: 40%;
    max-height: 90%;
}